.gameCardContainer {
    position: relative;
    margin: 1rem 0.5rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.gameCardContainer img {
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    flex-grow: 1;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.infoGameCard {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: rgba(26, 26, 26, 0.5);
}

.infoGameCard p:first-of-type {
    font-weight: bold;
    color: rgba(26, 26, 26, 1);
}

.gameCardContainer img:hover {
    transform: translate3d(8px, -8px, 10px);
    -webkit-transform: translate3d(8px, -8px, 10px);
    -moz-transform: translate3d(8px, -8px, 10px);
    -ms-transform: translate3d(8px, -8px, 10px);
    -o-transform: translate3d(8px, -8px, 10px);
}

.gameCardContainer:nth-of-type(1n):hover .divCardContainer {
    background-color: var(--main-bg-color);
}

.gameCardContainer:nth-of-type(2n):hover .divCardContainer {
    background-color: red;
}

.gameCardContainer:nth-of-type(3n):hover .divCardContainer {
    background-color: green;
}

.gameCardContainer:nth-of-type(4n):hover .divCardContainer {
    background-color: yellow;
}