.categoryRowContainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    flex-wrap: nowrap;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin;
}

.categoryRowContainer::-webkit-scrollbar {
    opacity: 0;
    display: none;
}